.g--card-04 {
    @include make-card-04();
    @include make-card-04-modifier(
        $card-options: (
            "align": center,
        ),
        $background-options: (
            "background-color": #fff,
        ),
        $border-options: (
            "border-color": #f3f3f3,
            "border-width": 2px,
            "border-style": solid,
        ),
        $media-options: (
            "aspect-ratio": 1,
            "width": 64px,
            "object-fit": cover,
            "object-position": center,
        ),
        // $media-hover-options: (
        //     "transform": scale(1.5),
        // ),
        $item-primary-options:
            (
                "font-size": 1.1875rem,
                "font-weight": 600,
                "color": #272727,
                // "text-class": f--font-f,
                // "text-decoration": underline,
                // "text-decoration-position": under,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
            ),
        // $item-primary-hover-options: (
        //      "color": blue,
        // ),
        $item-secondary-options:
            (
                // "text-class": f--font-e,
                "font-size": 0.8125rem,
                "color": #272727,
            ),
        $item-tertiary-options: (
            // "text-class": g--btn-01,
            "font-size": 0.8125rem,
            "color": #2573b2,
            "text-decoration": none,
        ),
        // $item-tertiary-hover-options: (
        //     "border-radius": 30px,
        //     "background-size": (
        //         0,
        //         100%,
        //     ),
        // ),
        $hover-options:
            (
                "transform": translateY(-8px),
                "border-color": #638c1d,
                "box-shadow": 0 8px 16px 0 rgba(88, 89, 91, 0.15),
            ),
        // $custom-options: (
        //     // "parent": (
        //     //     background: red,
        //     //     max-width: 400px,
        //     //     class: f--col-12,
        //     // ),
        //     "&__item-primary": (background: red, class: f--col-12),
        // )
    );

    &--second {
        @include make-card-04-modifier(
            $card-options: (
                "align": left,
            ),
            $border-options: (
                "border-color": rgba(53, 53, 53, 0.2) rgba(53, 53, 53, 0.2) #1cd583
                    rgba(53, 53, 53, 0.2),
                "border-width": 2px,
                "border-style": solid,
                "border-radius": 4px,
            ),
            $item-primary-options: (
                "font-size": 1.1.25rem,
                "font-weight": 600,
                "color": #353535,
            ),
            $item-tertiary-options: (
                "font-size": 1rem,
                "color": #353535,
                "text-decoration": underline,
                "text-decoration-color": transparent,
            ),
            $item-tertiary-hover-options: (
                "text-decoration-color": #191414,
            ),
            $hover-options: (
                "transform": translateY(0),
                "border-color": #1cd583,
                "box-shadow": none,
            )
        );
    }

    &--third {
        @include make-card-04-modifier(
            $card-options: (
                "align": left,
            ),
            $background-options: (
                "background-color": #ffc864,
            ),
            $border-options: (
                "border-color": transparent,
                "border-width": 1px,
                "border-style": solid,
                "border-radius": 20px,
            ),
            $media-options: (
                "aspect-ratio": auto,
                "width": 100%,
                "height": 100px,
                "object-fit": contain,
                "object-position": right,
            ),
            $item-primary-options: (
                "font-size": calc(1.625rem + 0.75 * (100vw - 48rem) / 42),
                "font-weight": 400,
                "color": #191414,
                "text-class": f--font-d,
            ),
            $item-secondary-options: (
                "font-size": calc(1.125rem + 0.25 * (100vw - 48rem) / 42),
                "color": #191414,
                "line-height": 150%,
                "font-weight": 300,
            ),
            $item-tertiary-options: (
                "font-size": calc(1.125rem + 0.25 * (100vw - 48rem) / 42),
                "color": #191414,
                "text-decoration": underline,
                "text-decoration-color": transparent,
                "font-weight": 500,
            ),
            $item-tertiary-hover-options: (
                "text-decoration-color": #191414,
            ),
            $hover-options: (
                "transform": translateY(0),
                "border-color": #000,
                "box-shadow": none,
            )
        );
    }

    &--fourth {
        @include make-card-04-modifier(
            $card-options: (
                "align": left,
            ),
            $border-options: (
                "border-color": #f3f3f3,
                "border-width": 2px,
                "border-style": solid,
                "border-radius": 3px,
            ),
            $shadow-options: (
                "box-shadow": 0 1px 5px rgba(33, 51, 67, 0.12),
            ),
            $media-options: (
                "aspect-ratio": auto,
                "height": 58px,
                "width": auto,
                "object-fit": contain,
                "object-position": center,
            ),
            $item-primary-options: (
                "font-size": 0.875rem,
                "font-weight": 300,
                "color": #2e475d,
            ),
            $item-secondary-options: (
                "font-size": 0.8125rem,
                "font-weight": 300,
            ),
            $item-tertiary-options: (
                "text-class": g--btn-01 g--btn-01--second,
                "color": #fff,
            ),
            $hover-options: (
                "transform": scale(1.014),
                "border-color": transparent,
                "box-shadow": 0 1px 5px rgba(33, 51, 67, 0.12),
            ),
            $item-tertiary-hover-options: (
                "background-color": transparent,
                "border-color": map-get($color-options, i),
                "border-radius": $measure * 4,
                "background-size": 0,
                "color": map-get($color-options, i),
            )
        );
    }

    &--fifth {
        @include make-card-04-modifier(
            $background-options: (
                "background-color": map-get($color-options, b),
            ),
            $border-options: (
                "border-color": transparent,
                "border-width": 0px,
                "border-style": solid,
            ),
            $shadow-options: (
                "box-shadow": 0 8px 16px 0 rgba(88, 89, 91, 0.15),
            ),
            $item-primary-options: (
                "font-size": 1.1875rem,
                "font-weight": 600,
                "color": #272727,
            ),
            $item-primary-hover-options: (
                "color": map-get($color-options, b),
            ),
            $item-secondary-options: (
                // "text-class": f--font-e,
                "font-size": 0.8125rem,
                "color": #272727,
            ),
            $item-secondary-hover-options: (
                "color": map-get($color-options, g),
            ),
            $item-tertiary-options: (
                // "text-class": g--btn-01,
                "font-size": 0.8125rem,
                "font-weight": 600,
                "color": map-get($color-options, a),
                "text-decoration": none,
            ),
            $item-tertiary-hover-options: (
                "color": map-get($color-options, i),
            ),
            $hover-options: (
                "transform": scale(1.1),
                "border-color": transparent,
                "box-shadow": 0 8px 16px 0 rgba(88, 89, 91, 0.15),
                "background-color": map-get($color-options, e),
            )
        );
    }

    &--sixth {
        @include make-card-04-modifier(
            $card-options: (
                "align": left,
            ),
            $background-options: (
                "background-image": url("../../../../assets/bg.jpeg"),
                "background-position": center,
                "background-size": cover,
                "background-repeat": no-repeat,
                "background-color": #fff,
                "background-overlay": (
                    "background-color": rgba(map-get($color-options, b), 0.6),
                ),
            ),
            $border-options: (
                "border-color": #f3f3f3,
                "border-width": 2px,
                "border-style": solid,
            ),
            $media-options: (
                "aspect-ratio": 1,
                "width": 64px,
                "object-fit": cover,
                "object-position": center,
                "at bottom": "yes",
            ),
            $media-hover-options: (
                "transform": scale(1.1),
            ),
            $item-primary-options: (
                "font-size": 1.8rem,
                "font-weight": 600,
                "color": #272727,
            ),
            $item-secondary-options: (
                "font-size": 1.125rem,
                "color": #272727,
                "font-weight": 600,
            ),
            $item-tertiary-options: (
                "font-size": 1rem,
                "color": map-get($color-options, h),
                "font-weight": 600,
                "text-decoration": none,
            ),
            $hover-options: (
                "transform": translateY(-8px),
                "border-color": #638c1d,
                "box-shadow": 0 8px 16px 0 rgba(88, 89, 91, 0.15),
            )
        );
    }
}