.g--btn-02 {
    @include make-btn-02();
    @include make-btn-02-modifier(
        $artwork-hover-options: (
            "transform": translateX($measure),
        ),
        $font-options: (
            "text-class": (
                f--font-d,
                f--color-a,
            ),
        ),
        $artwork-options: (
            "width": $measure * 2,
            "stroke": map-get($color-options, i),
        )
    );

    &--second {
        @include make-btn-02-modifier(
            $background-options: (
                "background-image":
                    linear-gradient(
                        to right,
                        map-get($color-options, i),
                        map-get($color-options, i)
                    ),
                "background-repeat": no-repeat,
                "background-size": 100% 2px,
                "background-position": left bottom,
            )
        );
    }

    &--third {
        @include make-btn-02-modifier(
            $background-options: (
                "background-image":
                    linear-gradient(
                        to right,
                        map-get($color-options, g),
                        map-get($color-options, d)
                    ),
                "background-repeat": no-repeat,
                "background-size": 0 2px,
                "background-position": left bottom,
            ),
            $artwork-options: (
                "stroke": map-get($color-options, g),
                "top": 4px,
            ),
            $hover-options: (
                "background-size": 100% 2px,
            )
        );
    }
}