@mixin make-btn-02() {

    text-decoration: none;
    width: fit-content;
    display: flex;
    align-items: center;
    column-gap: $btn-icon-gap;

    &__artwork {
        height: auto;
    }
}

@mixin make-btn-02-modifier(
    $artwork-options: (),
    $artwork-hover-options: (),
    $background-options: (),
    $border-options: (),
    $hover-options: (),
    $font-options: (),
    $custom-options: (),
) {
    @include make-background-options($options: $background-options);
    @include make-border-options($options: $border-options);
    @include make-font-options($options: $font-options);
    @include make-hover-transition($options: $hover-options);

    .g--btn-02 {
        &__artwork {
            @include make-svg-options($options: $artwork-options);
            @include make-hover-transition($options: $artwork-hover-options);
        }
    }

    @media all and (hover: hover) {
        &:hover,
        &:active {
            @include make-hover-interaction($options: $hover-options);
            .g--btn-02 {
                &__artwork {
                    @include make-hover-interaction($options: $artwork-hover-options);
                }
            }
        }
    }

    @include make-custom-options($options: $custom-options);
}