.g--btn-01 {
    @include make-btn-01();
    @include make-btn-01-modifier(
        $background-options: (
            "background-color": blue,
            "background-image": (linear-gradient(blue, chocolate), linear-gradient(blue, black)),
            "background-repeat": no-repeat,
            "background-size": (100%, 0),
            "background-position": (left center, right center),
        ),
        $border-options: (
            "border-color": red,
            "border-width": 1px,
            "border-style": solid,
        ),
        $hover-options: (
            "border-radius": 30px,
            "background-size": (0, 100%),
        ),
        $font-options: (
            "text-class": (
                f--font-d,
                f--color-b,
            ),
            "font-weight": 700,
        ),
        $custom-options: (
            "parent": (
                width: 100%,
            )
        ),
    );
}