.g--btn-01 {
    @include make-btn-01();
    @include make-btn-01-modifier(
        $background-options: (
            "background-color": map-get($color-options, i),
            "background-image": (
                linear-gradient(
                    90deg,
                    map-get($color-options, i) 0%,
                    map-get($color-options, h) 100%
                ),
                linear-gradient(
                    90deg,
                    map-get($color-options, h) 0%,
                    map-get($color-options, i) 100%
                ),
            ),
            "background-repeat": no-repeat,
            "background-size": (
                100%,
                0,
            ),
            "background-position": (
                left center,
                right center,
            ),
            // "background-class": f--background-a,
        ),
        // $border-options: (
        //     "border-color":
        //         linear-gradient(
        //             90deg,
        //             map-get($color-options, i) 0%,
        //             map-get($color-options, h) 100%
        //         ),
        //     "border-width": 1px,
        //     "border-style": solid,
        //     "border-radius": $measure * 2,
        // ),
        $hover-options:
            (
                "border-radius": 30px,
                "background-size": (
                    0,
                    100%,
                ),
            ),
        $font-options: (
            "text-class": (
                f--font-d,
                f--color-b,
            ),
            "font-weight": 700,
        ),
        // $custom-options: (
        //     "parent": (
        //         width: 100%,
        //     ),
        // )
    );

    &--second {
        @include make-btn-01-modifier(
            $background-options: (
                "background-color": map-get($color-options, i),
                "background-image": none,
                "background-repeat": no-repeat,
                "background-size": 0,
            ),
            $border-options: (
                "border-color": transparent,
                "border-width": 1px,
                "border-style": solid,
                "border-radius": 0,
            ),
            $hover-options: (
                "background-color": transparent,
                "border-color": map-get($color-options, i),
                "border-radius": $measure * 4,
                "background-size": 0,
                "color": map-get($color-options, i),
            ),
            $font-options: (
                "text-class": (
                    f--font-d,
                    f--color-b,
                ),
                "font-weight": 300,
            ),
            // $custom-options: (
            //     "parent": (
            //         width: 100%,
            //     ),
            // )
        );
    }

    &--third {
        @include make-btn-01-modifier(
            $background-options: (
                "background-color": transparent,
                "background-image": (
                    linear-gradient(map-get($color-options, e), map-get($color-options, e)),
                    linear-gradient(map-get($color-options, g), map-get($color-options, i)),
                ),
                "background-repeat": no-repeat,
                "background-size": (
                    calc(100% - 4px) calc(100% - 4px),
                    100%,
                ),
                "background-position": (
                    center center,
                    center center,
                ),
            ),
            $hover-options: (
                "border-radius": 0,
                "background-size": (
                    0 0,
                    100%,
                ),
            ),
            $font-options: (
                "text-class": (
                    f--font-d,
                    f--color-b,
                ),
                "font-weight": 500,
            )
        );
    }

    &--fourth {
        @include make-btn-01-modifier(
            $background-options: (
                "background-color": map-get($color-options, e),
                "background-image": none,
                "background-repeat": no-repeat,
                "background-size": 0,
                "background-position": center,
                // "background-class": f--background-a,
            ),
            $border-options: (
                "border-color": transparent,
                "border-width": 1px,
                "border-style": solid,
                "border-radius": 0,
            ),
            $hover-options: (
                "background-color": transparent,
                "border-color": map-get($color-options, e),
                "border-radius": 0,
                "background-size": 0,
                "color": map-get($color-options, e),
            ),
            $font-options: (
                "font-size": 3rem,
                "font-weight": 700,
            ),
            $custom-options: (
                "parent": (
                    width: 100%,
                ),
            )
        );
    }

    &--fifth {
        @include make-btn-01-modifier(
            $background-options: (
                "background-color": transparent,
                "background-image": none,
                "background-repeat": no-repeat,
                "background-size": 0,
                "background-position": none,
                // "background-class": f--background-a,
            ),
            $border-options: (
                "border-color": map-get($color-options, f),
                "border-width": 2px,
                "border-style": solid,
                "border-radius": $measure * 4,
            ),
            $hover-options: (
                "background-color": map-get($color-options, f),
                "border-radius": $measure * 4,
                "background-size": 0,
                "color": map-get($color-options, b),
            ),
            $font-options: (
                "text-class": (
                    f--font-b,
                    f--color-f,
                ),
                "font-weight": 400,
            ),
            // $custom-options: (
            //     "parent": (
            //         width: 100%,
            //     ),
            // )
        );
    }

    &--sixth {
        @include make-btn-01-modifier(
            $background-options: (
                "background-color": map-get($color-options, h),
                "background-image": (
                    linear-gradient(
                        180deg,
                        rgba(253, 179, 53, 0.7) 0%,
                        rgba(253, 179, 53, 0.43) 49.55%,
                        rgba(253, 179, 53, 0) 100%
                    ),
                    linear-gradient(
                        90deg,
                        map-get($color-options, c) 0%,
                        map-get($color-options, c) 100%
                    ),
                ),
                "background-repeat": no-repeat,
                "background-size": (
                    10%,
                    90%,
                ),
                "background-position": (
                    left center,
                    right center,
                ),
            ),
            $border-options: (
                "border-color": map-get($color-options, g),
                "border-width": 1px,
                "border-style": solid,
            ),
            $hover-options: (
                "border-radius": 0,
                "background-size": (
                    100%,
                    0,
                ),
                "color": map-get($color-options, b),
            ),
            $font-options: (
                "text-class": (
                    f--font-d,
                ),
                "color": map-get($color-options, a),
                "font-weight": 200,
            )
        );
    }

    &--seventh {
        @include make-btn-01-modifier(
            $background-options: (
                "background-color": map-get($color-options, g),
                "background-image": (
                    linear-gradient(
                        0deg,
                        map-get($color-options, e) 0%,
                        map-get($color-options, e) 49.9%,
                        map-get($color-options, g) 50%,
                        map-get($color-options, g) 100%
                    ),
                ),
                "background-repeat": no-repeat,
                "background-size": (
                    100% 200%,
                ),
                "background-position": (
                    left top,
                ),
            ),
            $hover-options: (
                "border-radius": 0,
                "background-size": (
                    100% 200%,
                ),
                "background-position": left bottom,
            ),
            $font-options: (
                "text-class": (
                    f--font-d,
                    f--color-b,
                ),
                "letter-spacing": $measure,
                "font-weight": 700,
            )
        );
    }

    &--eighth {
        @include make-btn-01-modifier(
            $background-options: (
                "background-color": #0202ea,
                "background-image": none,
                "background-repeat": no-repeat,
                "background-size": (
                    100%,
                    0,
                ),
                "background-position": (
                    left center,
                    right center,
                ),
                // "background-class": f--background-a,
            ),
            $border-options: (
                "border-color": #0202ea,
                "border-width": 2px,
                "border-style": solid,
                "border-radius": 4px,
            ),
            $hover-options: (
                "background-color": transparent,
                "border-radius": 4px,
                "background-size": (
                    0,
                    100%,
                ),
                "color": #0202ea,
            ),
            $font-options: (
                "text-class": (
                    f--font-d,
                    f--color-b,
                ),
                "font-weight": 700,
            ),
            // $custom-options: (
            //     "parent": (
            //         width: 100%,
            //     ),
            // )
        );
    }

    &--ninth {
        @include make-btn-01-modifier(
            $background-options: (
                "background-color": transparent,
                "background-image": none,
                "background-repeat": no-repeat,
                "background-size": (
                    100%,
                    0,
                ),
                "background-position": (
                    left center,
                    right center,
                ),
                // "background-class": f--background-a,
            ),
            $border-options: (
                "border-color": #974ebc,
                "border-width": 2px,
                "border-style": solid,
                "border-radius": 4px,
            ),
            $hover-options: (
                "border-radius": 4px,
                "background-size": (
                    0,
                    100%,
                ),
                "background-color": #eadcf2,
            ),
            $font-options: (
                "text-class": (
                    f--font-d,
                    f--color-b,
                ),
                "font-weight": 300,
                "color": #974ebc,
            ),
            // $custom-options: (
            //     "parent": (
            //         width: 100%,
            //     ),
            // )
        );
    }

    &--tenth {
        @include make-btn-01-modifier(
            $background-options: (
                "background-color": transparent,
                "background-image": linear-gradient(#007cad, #007cad),
                "background-repeat": no-repeat,
                "background-size": (
                    0,
                ),
                "background-position": (
                    center bottom,
                ),
            ),
            $border-options: (
                "border-color": #444444,
                "border-width": 0 0 2px 0,
                "border-style": solid,
            ),
            $hover-options: (
                "border-radius": 0px,
                "background-size": (
                    100%,
                ),
                "color": #ffffff,
                "border-color": #007cad,
            ),
            $font-options: (
                "font-weight": 300,
                "color": #444444,
            ),
            // $custom-options: (
            //     "parent": (
            //         width: 100%,
            //     ),
            // )
        );
    }
}