@mixin make-btn-01() {

    display: inline-block;
    padding: $btn-padding;
    text-align: center;
    text-decoration: none;

    @media all and ($viewport-type: $mobile) {
        display: block;
        width: 100%;
    }
}

@mixin make-btn-01-modifier(
    $background-options: (),
    $border-options: (),
    $hover-options: (),
    $shadow-options: (),
    $font-options: (),
    $custom-options: (),
) {
    @include make-background-options($options: $background-options);
    @include make-border-options($options: $border-options);
    @include make-shadow-options($options: $shadow-options);
    @include make-font-options($options: $font-options);
    @include make-hover-transition($options: $hover-options);

    @media all and (hover: hover) {
        &:hover {
            @include make-hover-interaction($options: $hover-options);
        }
    }
    @include make-custom-options($options: $custom-options);
}