@mixin make-list-options($gap) {
    display: flex;
    flex-wrap: wrap;
    gap: $gap;
}

@mixin make-list-modifier-options($options) {
    @each $value, $item-options, $item-hover-options in $options {
        @if $value {
            @if $value == "first" {
                &:first-child {
                    @include make-font-options($options: $item-options);
                    @include make-hover-transition($options: $item-hover-options);
                }
            }
            @else if $value == "last" {
                &:last-child {
                    @include make-font-options($options: $item-options);
                    @include make-hover-transition($options: $item-hover-options);
                }
            }
            @else {
                &:nth-child(#{$value}) {
                    @include make-font-options($options: $item-options);
                    @include make-hover-transition($options: $item-hover-options);
                }
            }
        }
    }
}