@mixin make-card-33() {
    @include make-card-options(flex);
    overflow: hidden;
    flex-direction: column;
    position: relative;

    &__media-wrapper {
        overflow: hidden;
        position: relative;
        z-index: 1;
        width: 100%;
        &__media {
            display: block;
            object-fit: cover;
            width: 100%;
        }
    }

    &__wrapper {
        padding: $measure * 6 $measure * 5;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        width: 100%;

        &__item-primary {
            margin-bottom: $measure * 3;
            margin-right: $measure;
        }

        &__item-secondary {
            margin-bottom: $measure * 3;
        }
        &__list-group {
            @include make-card-item-list-options();
            margin-top: auto;
        }
    }
}

@mixin make-card-33-modifier(
    $background-options: (),
    $border-options: (),
    $card-options: (),
    $custom-options: (),
    $hover-options: (),
    $shadow-options: (),

    $item-primary-options: (),
    $item-primary-hover-options: (),

    $item-secondary-options: (),
    $item-secondary-hover-options: (),

    $item-tertiary-options: (),
    $item-tertiary-hover-options: (),
    $item-tertiary-list-options: (),

    $media-hover-options: (),
    $media-options: (),
    
) {
    @include make-card-modifier-options($options: $card-options);
    @include make-border-options($options: $border-options);
    @include make-shadow-options($options: $shadow-options);
    @include make-hover-transition($options: $hover-options);
    .g--card-33 {
        @include make-background-options($options: $background-options, $special: "yes");
        &__media-wrapper {
            @if map-has-key($media-options, "full-height") {
                @if map-get($media-options, full-height) == "yes" {
                    height: 100%;
                }
                @else if map-get($media-options, full-height) == "no" {
                    height: auto;
                }
            }
            @include make-media-options($options: $media-options, $special: "yes");
            &__media {
                @if map-has-key($media-options, "full-height") {
                    @if map-get($media-options, full-height) == "yes" {
                        height: 100%;
                    }
                    @else if map-get($media-options, full-height) == "no" {
                        height: auto;
                    }
                }
                @include make-hover-transition($options: $media-hover-options);
            }
        }
        &__wrapper {
            @if map-has-key($media-options, "aspect-ratio") {
                @if map-get($media-options, aspect-ratio) != "no" {
                    height: 100%;
                }
                @else {
                    height: auto;
                }
            }
            @if map-has-key($media-options, "height") {
                @if map-get($media-options, height) != "auto" {
                    height: calc(100% - map-get($media-options, height));
                }
                @else {
                    height: auto;
                }
            }
            @if map-has-key($media-options, "full-height") {
                @if map-get($media-options, full-height) == "yes" {
                    height: auto;
                }
            }
            @if map-has-key($media-options, "aspect-ratio") and map-has-key($media-options, "height") {
                @if map-get($media-options, aspect-ratio) != "no" and map-get($media-options, height) != "auto" {
                    @error "you can't add aspect-ratio and height in the same img";
                }
            }
            &__item-primary {
                @include make-font-options($options: $item-primary-options);
                @include make-hover-transition($options: $item-primary-hover-options);
            }
    
            &__item-secondary {
                @include make-font-options($options: $item-secondary-options);
                @include make-hover-transition($options: $item-secondary-hover-options);
            }
            &__list-group {
                &__item {
                    @include make-font-options($options: $item-tertiary-options);
                    @include make-hover-transition($options: $item-tertiary-hover-options);
                    @include make-card-item-list-modifier-options($options: $item-tertiary-list-options);
                }
            }
        }
    }

    @media all and (hover: hover) {
        &:hover {
            @include make-hover-interaction($options: $hover-options);
            .g--card-33 {
                &__media-wrapper {
                    &__media {
                        @include make-hover-interaction($options: $media-hover-options);
                    }
                }
                &__wrapper {
                    &__item-primary {
                        @include make-hover-interaction($options: $item-primary-hover-options);
                    }
            
                    &__item-secondary {
                        @include make-hover-interaction($options: $item-secondary-hover-options);
                    }
                    &__list-group {
                        &__item {
                            @include make-hover-interaction($options: $item-tertiary-hover-options);
                        }
                    }
                }
            }
        }
    }
    
    @include make-custom-options($options: $custom-options);
}