@mixin make-background-options($options) {
    $background-options: (
        "background-class": null,
        "background-color": null,
        "background-image": null,
        "background-repeat": null,
        "background-size": null,
        "background-position": null,
        "background-overlay": null,
    );

    @each $property, $value in $options {
        @if map-has-key($background-options, $property) {
            @if $value {
                @if $property ==  "background-class"{
                    @extend .#{$value};
                }
                @else if $property ==  "background-overlay"{
                    position: relative;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: $value;
                        z-index: 0;
                    }
                    & > * {
                        position: relative;
                        z-index: 1;
                    }
                }
                @else {
                    #{$property}: $value;
                }
            }
        }
    }
}