@mixin make-cta-options($options) {
    $cta-options: (
        "align": null,
        "container": null,
        "columns-class": null,
        "min-height": null,
    );

    // $container-classes: ();

    @each $property, $value in $options {
        @if map-has-key($cta-options, $property) {
            @if $value {
                @if $property == "align" {
                    @if $value == "left" {
                        text-align: left;
                        &__wrapper {
                            justify-content: flex-start;
                        }
                    }
                    @else if $value == "center" {
                        text-align: center;
                        &__wrapper {
                            justify-content: center;
                        }
                    }
                    @else if $value == "right" {
                        text-align: right;
                        &__wrapper {
                            justify-content: flex-end;
                        }
                    }
                }
                @else if $property == "container" {
                    @if $value == "yes" {
                        &__wrapper {
                            @extend .f--container;
                            @extend .f--row;
                            @extend .f--row--remove-gutter;
                            padding-top: $measure*20;
                            padding-bottom: $measure*20;
                        }
                    }
                    @else if $value == "no" {
                        &__wrapper {
                            width: 100%;
                            padding: $measure*15 $measure*10;
                            &__content {
                                max-width: 100%;
                            }
                        }
                    }
                }
                @else if $property == "columns-class" {
                    &__wrapper {
                        &__content {
                            @if type-of($value) == list {
                                @each $class in $value {
                                    @extend .#{$class};
                                }
                            }
                            @else {
                                @extend .#{$value};
                            }
                            padding-left: 0;
                            padding-right: 0;
                        }
                    }
                }
                @else {
                    #{$property}: $value;
                }
            }
        }
    }
}
