// $padding-cta-container: $measure*10;
// $padding-cta-no-container: $measure*5;

// $padding-cards: $measure*5;
// $margin-text-cards: $measure*5;
$g-measure: 0.5rem;
$g-viewport-type: max-width;

//* btn
$btn-padding: $g-measure $g-measure * 3;
$btn-icon-gap: $g-measure;

//* card
$card-item-list-gap: $g-measure;
$card-media-text-space: $g-measure*2;

//* cta
$cta-item-list-gap: $g-measure $g-measure*2;
$cta-outside-container-col-class: (
    f--col-9
    f--col-desktop-8
);
$cta-inside-container-breakpoint: $tablets;
$cta-inside-container-padding: $g-measure*15 $g-measure*10;
$cta-inside-container-padding-responsive: $g-measure*10 $g-measure*7;
// $cta-inside-container-padding: (
//     f--pt-15
//     f--pb-15
//     f--pl-10
//     f--pr-10
// )