.g--cta-01 {
    @include make-cta-01();
    @include make-cta-01-modifier(
        $cta-options: (
            // "container": yes,
            "container": (
                f--col-10,
                f--col-tablets-12
            )
            // "align": center,
        ),
        $background-options: (
            "background-image": url(https://picsum.photos/2000/500),
            "background-repeat": no-repeat,
            "background-size": cover,
            "background-color": rgb(62, 4, 4),
            "background-overlay": (
                // "background-size": cover,
                "background-color": rgba(155, 155, 155, .5),
            )
        ),
        $border-options: (
            "border-color": red,
            "border-width": 1px,
            "border-style": solid,
        ),

        $item-primary-options: (
            "text-class": f--font-b,
        ),

        $item-secondary-options: (
            "text-class": g--btn-01,
        ),
        $item-secondary-list-options: (
            2: (
                "text-class": g--btn-01--second
            ),
            3: (
                "text-class": g--btn-01--third
            ),
            4: (
                "text-class": g--btn-01--sixth
            ),
        ),
        
        $custom-options: (
            // "parent": (
            //     position: relative
            // )
        ),
    );
    &--second {
        @include make-cta-01-modifier(
            $background-options: (
                "background-image": none,
                "background-overlay": transparent,
            ),
            $cta-options: (
                "container": no,
                "columns-class": (
                    f--col-6,
                    f--col-tablets-12
                )
                // "align": center,
            ),
            $custom-options: (
                // "parent": (
                //     class: f--background-a
                // )
            ),
            $item-secondary-options: (
                "text-class": g--btn-01--sixth,
            ),
            $item-secondary-list-options: (
                2: (
                    "text-class": g--btn-01--sixth
                ),
                3n: (
                    "text-class": g--btn-01--ninth
                ),
            ),
        );
    }
}