.g--cta-01 {
    @include make-cta-01();
    @include make-cta-01-modifier(
        $cta-options: (
            "container": yes,
            // "container": (
            //     f--col-10,
            //     f--col-tablets-12
            // ),
            // "align": center,
        ),
        $background-options: (
            "background-image": url(https://picsum.photos/2000/500),
            "background-repeat": no-repeat,
            "background-size": cover,
            "background-color": map-get($color-options, e),
            "background-overlay": (
                // "background-size": cover,
                "background-color": rgba(map-get($color-options, b), 0.6),
            )
        ),
        // $border-options: (
        //     "border-color": red,
        //     "border-width": 1px,
        //     "border-style": solid,
        // ),

        $item-primary-options: (
            "text-class": f--font-b,
        ),

        $item-secondary-options: (
            "text-class": g--btn-01,
        ),
        $item-secondary-list-options: (
            2: (
                "text-class": g--btn-01--second,
            ),
        ),
    );

    &--second {
        @include make-cta-01-modifier(
            $cta-options: (
                "container": no,
                // "align": center,
            ),
            $background-options: (
                "background-image": (
                    linear-gradient(
                        90deg,
                        map-get($color-options, i) 0%,
                        map-get($color-options, e) 100%
                    ),
                    linear-gradient(
                        to right,
                        map-get($color-options, e),
                        map-get($color-options, e)
                    ),
                ),
                "background-repeat": no-repeat,
                "background-size": (
                    100%,
                    0,
                ),
                "background-position": (
                    left center,
                    right center,
                ),
            ),
            $hover-options: (
                "background-size": (
                    0,
                    100%,
                ),
            ),
            $item-secondary-options: (
                "text-class": g--btn-01--sixth,
            )
        );
    }

    &--third {
        @include make-cta-01-modifier(
            $cta-options: (
                // "container": yes,
                "container": (
                    f--col-4,
                    f--col-tablets-12
                ),
                "align": center,
            ),
            $background-options: (
                "background-image": url(https://picsum.photos/2000/500),
                "background-repeat": no-repeat,
                "background-size": 100% 100%,
                "background-position": center,
                "background-color": map-get($color-options, e),
                "background-overlay": (
                    // "background-size": cover,
                    "background-color": rgba(map-get($color-options, b), 0.6),
                )
            ),
            // $border-options: (
            //     "border-color": red,
            //     "border-width": 1px,
            //     "border-style": solid,
            // ),
            $hover-options:
            (
                "background-size": 130% 130%,
            ),
    
            $item-primary-options: (
                "text-class": f--font-b,
            ),
    
            $item-secondary-options: (
                "text-class": g--btn-01--tenth,
            ),
            $item-secondary-hover-options: (
                "border-radius": 0px,
                "background-size": (
                    100%,
                ),
                "color": #ffffff,
                "border-color": #007cad,
            ),
            $item-secondary-list-options: (
                2: (
                    "text-class": g--btn-01--second,
                ),
            ),
        );
    }

    &--fourth {
        @include make-cta-01-modifier(
            $cta-options: (
                // "container": yes,
                "container": (f--col-4, f--col-tablets-12),
                "align": right,
            ),
            $background-options: (
                "background-image": none,
                "background-color": map-get($color-options, e),
                "background-overlay": (
                    // "background-size": cover,
                    "background-color": transparent,
                ),
            ),
            $border-options: (
                "border-color": map-get($color-options, i),
                "border-width": 0 6px 6px,
                "border-style": solid,
            ),
            $item-primary-options: (
                "text-class": f--font-b,
            ),

            $item-secondary-options: (
                "text-class": g--btn-01--third,
            )
        );
    }
}