@mixin make-cta-01() {
    @include make-cta-options();
    &__wrapper {
        &__content {
            &__item-primary {
                margin-bottom: $measure * 6;
        
                @media all and ($viewport-type: $tablets) {
                    margin-bottom: $measure * 4;
                }
            }
            &__list-group {
                @include make-cta-item-list-options();
                &__item {}
            }
        }
    }
}

@mixin make-cta-01-modifier(
    $background-options: (),
    $border-options: (),
    $cta-options: (),
    $custom-options: (),
    $hover-options: (),

    $item-primary-options: (),
    $item-primary-hover-options: (),

    $item-secondary-options: (),
    $item-secondary-hover-options: (),
    $item-secondary-list-options: (),
    
    $shadow-options: (),
) {
    @include make-background-options($options: $background-options);
    @include make-border-options($options: $border-options);
    @include make-shadow-options($options: $shadow-options);
    @include make-hover-transition($options: $hover-options);
    .g--cta-01 {
        @include make-cta-modifier-options($options: $cta-options);
        &__wrapper {
            &__content {
                &__item-primary {
                    @include make-font-options($options: $item-primary-options);
                    @include make-hover-transition($options: $item-primary-hover-options);
                }
                &__list-group {
                    &__item {
                        @include make-font-options($options: $item-secondary-options);
                        @include make-hover-transition($options: $item-secondary-hover-options);
                        @include make-cta-item-list-modifier-options($options: $item-secondary-list-options);
                    }
                }
            }
        }
    }

    @media all and (hover: hover) {
        &:hover,
        &:active {
            @include make-hover-interaction($options: $hover-options);
            .g--cta-01 {
                &__wrapper {
                    &__content {
                        &__item-primary {
                            @include make-hover-interaction($options: $item-primary-hover-options);
                        }
                        &__list-group {
                            &__item {
                                @include make-hover-interaction($options: $item-secondary-hover-options);
                            }
                        }
                    }
                }
            }
        }
    }
    
    @include make-custom-options($options: $custom-options);
}