@mixin make-card-options($display: block) {
    width: 100%;
    display: $display;
    text-decoration: none;
}

@mixin make-card-modifier-options($options) {
    $card-options: (
        "align": null,
        "min-height": null,
    );

    @each $property, $value in $options {
        @if map-has-key($card-options, $property) {
            @if $value {
                @if $property == "align" {
                    @if $value == "left" {
                        text-align: left;
                        align-items: flex-start;
                        *[class$="__media"] {
                            margin-left: 0;
                            margin-right: auto;
                        }
                        *[class$="__list-group"] {
                            justify-content: flex-start;
                        }
                    }
                    @if $value == "center" {
                        text-align: center;
                        align-items: center;
                        *[class$="__media"] {
                            margin-left: auto;
                            margin-right: auto;
                        }
                        *[class$="__list-group"] {
                            justify-content: center;
                        }
                    }
                    @if $value == "right" {
                        text-align: right;
                        align-items: flex-end;
                        *[class$="__media"] {
                            margin-left: auto;
                            margin-right: 0;
                        }
                        *[class$="__list-group"] {
                            justify-content: flex-end;
                        }
                    }
                }
                @else {
                    #{$property}: $value;
                }
            }
        }
    }
}

@mixin make-card-item-list-options($gap: $card-item-list-gap) {
    @include make-list-options($gap: $gap);
}

@mixin make-card-item-list-modifier-options($options) {
    @include make-list-modifier-options($options: $options);
}