@mixin make-cta-options($display: flex) {
    width: 100%;
    display: $display;
    @if $display == "flex" {
        justify-content: center;
    }
}

@mixin make-cta-item-list-options($gap: $cta-item-list-gap) {
    display: flex;
    flex-wrap: wrap;
    gap: $gap;
}

@mixin make-cta-item-list-modifier-options($options) {
    @each $value, $item-options, $item-hover-options in $options {
        @if $value {
            @if $value == "first" {
                &:first-child {
                    @include make-font-options($options: $item-options);
                    @include make-hover-transition($options: $item-hover-options);
                }
            }
            @else if $value == "last" {
                &:last-child {
                    @include make-font-options($options: $item-options);
                    @include make-hover-transition($options: $item-hover-options);
                }
            }
            @else {
                &:nth-child(#{$value}) {
                    @include make-font-options($options: $item-options);
                    @include make-hover-transition($options: $item-hover-options);
                }
            }
        }
    }
}

@mixin make-cta-modifier-options($options) {
    $cta-options: (
        "align": null,
        "container": null,
        "min-height": null,
        "breakpoint": null,
    );

    @each $property, $value in $options {
        @if map-has-key($cta-options, $property) {
            @if $value {
                @if $property == "align" {
                    @if $value == "left" {
                        text-align: left;
                        &__wrapper {
                            justify-content: flex-start;
                        }
                    }
                    @else if $value == "center" {
                        text-align: center;
                        &__wrapper {
                            justify-content: center;
                        }
                    }
                    @else if $value == "right" {
                        text-align: right;
                        &__wrapper {
                            justify-content: flex-end;
                        }
                    }
                }
                @else if $property == "container" {
                    @if $value == "no" {
                        &__wrapper {
                            width: 100%;
                            @if variable-exists(cta-inside-container-padding) {
                                @include make-padding($variable: $cta-inside-container-padding);
                            }
                            &__content {
                                max-width: 100%;
                                width: 100%;
                                flex: none;
                            }
                        }
                    }
                    @else if $value == "yes"{
                        &__wrapper {
                            @extend .f--container;
                            @extend .f--row;
                            @extend .f--row--remove-gutter;
                            padding-top: $measure*20;
                            padding-bottom: $measure*20;
                            &__content {
                                @if type-of($cta-outside-container-col-class) == list {
                                    @each $class in $cta-outside-container-col-class {
                                        @extend .#{$class};
                                    }
                                }
                                @else {
                                    @extend .#{$cta-outside-container-col-class};
                                }
                                padding-left: 0;
                                padding-right: 0;
                            }
                        }
                    }
                    @else {
                        &__wrapper {
                            @extend .f--container;
                            @extend .f--row;
                            @extend .f--row--remove-gutter;
                            padding-top: $measure*20;
                            padding-bottom: $measure*20;
                            &__content {
                                @if type-of($value) == list {
                                    @each $class in $value {
                                        @extend .#{$class};
                                    }
                                }
                                @else if $value{
                                    @extend .#{$value};
                                }
                                padding-left: 0;
                                padding-right: 0;
                            }
                        }
                    }
                }
                @else {
                    #{$property}: $value;
                }
            }
        }
    }
}