@mixin make-media-options($options, $media-space: "no") {
    $media-options: (
        "aspect-ratio": null,
        "border-color": null,
        "border-radius": null,
        "border-style": null,
        "border-width": null,
        "object-fit": null,
        "height": null,
        "object-position": null,
        "width": null,
        "at bottom": null,
    );

    @each $property, $value in $options {
        @if map-has-key($media-options, $property) {
            @if $value {
                @if $property == "height" or $property == "width" {
                    #{$property}: $value;
                    &__media {
                        #{$property}: 100%;
                    }
                }
                @else if $property == "aspect-ratio" {
                    #{$property}: $value;
                    &__media {
                        #{$property}: $value;
                    }
                }
                @else if $property == "at bottom" {
                    @if $media-space == "yes" {
                        @if $value == "yes" {
                            order: 1;
                            margin-bottom: 0;
                            margin-top: $card-media-text-space;
                        }
                        @else if $value == "no" {
                            order: 0;
                            margin-top: 0;
                            margin-bottom: $card-media-text-space;
                        }
                    } @else {
                        @if $value == "yes" {
                            order: 1;
                        }
                        @else if $value == "no" {
                            order: 0;
                        }
                    }
                }
                @else {
                    &__media {
                        #{$property}: $value;
                    }
                }
            }
        }
    }
}